.app-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
}

.app-column {
    width: 300px;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}

.mat-card {
    margin: 12px 0;;
}